%h3
  Artists
-artists.each do |artist|
  .artist
    %a{href: "#{url_for "/artist/#{artist.id}"}"}
      =artist.name
%h3
  Albums
-albums.each do |album|
  .album
    %a{href: "#{url_for "/album/#{album.id}"}"}
      =album.title 
