%form{action:"#{url_for("/upload")}", enctype:"multipart/form-data", method:"post"}
  .input-group
    %span.input-group-addon
      files
    %input.form-control{type:"file",name:"images[]",multiple:"true"}
  .input-group
    %span.input-group-addon
      Artist
    %input{type:"text", name: "artist_name"}
  .input-group
    %span.input-group-addon
      Album
    %input{type:"text", name: "album_name"}
  .input-group
    %input{type:"submit", value:"upload"}

-unless params["info"].nil?
  .text
    =params["info"]
