html {
  height: 100%;
}
body {
  color: #110000;
  font-family: "Cabin";
  height: 100%;
}

.jp-controls {
  box-sizing: content-box;
}

#content {
  padding-top:80px;
}

.item {
  width: 15%;
}

.item img {
  width:250px;
}
