.player-btn, .track-item {
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
}

.player-btn {
  font-size: 20px;
}

.play-btn {
  font-size: 25px;
  width: 30px;
}

.player-container {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.track-item {
  cursor: pointer;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

.track-item.active {
  font-weight: bold;
}

.track-item:hover {
  background-color: #f4f4f4;
}
