-tracks.each do |track|
  %form#track_favorites
    .track
      =haml :'partials/favorite', locals: {track: track}
      =track.title
:javascript
  function favorite_track(track_id) {
    var form=$(".track_favorites");
    var url = "#{url_for('/track/')}" + track_id + '/favorite';
    return post(form, url);
  }

  function favorite_callback(data) {
  }

  function unfavorite_callback(data) {
  }

  function failure_callback(data) {
  }

  function unfavorite_track(track_id) {
    var url = "#{url_for('/track/')}" + track_id + '/favorite';
    return del(url, unfavorite_callback, failure_callback);
  }
