-if track.favorited?(current_user)
  %a{title: "meh #{track.title}", onClick: "javascript:unfavorite_track('#{track.id}')"}
    ♥
-else
  %a{title: "!!! #{track.title}", onClick: "javascript:favorite_track('#{track.id}')"}
    ♡
