%form.form{id: "newtag", data: {"internal": "true"}}
  .form-group
    %input.form-control{id: "tag", type: "text", name: "tag", placeholder: "Add Tag pat"}
    .submit
      %input.btn.btn-default.btn-md{value:"Add Tag", onClick: "add_tag('#{url}')"}
