%ul.nav.navbar-nav.pull-right
  %li.dropdown
    -user = current_user
    -if user
      %a.btn{data: {"internal": "true"}, href: "#", role: "button", aria: { haspopup: "true", expanded: "false"}, data: { toggle: "dropdown"}}
        =user.username
      %ul
        %li
          %a.btn{data: {"internal": "true"}, href: "#{url_for("/profile")}"}
            Profile
        %li
          %a.btn{href: "#{url_for("/logout")}"}
            Logout
    -else
      %a.btn{data: {"internal": "true"}, href:"#{url_for("/login")}"}
        Login
