%ul.nav.navbar-nav.pull-right
  %li.dropdown
    -user = current_user
    -if user
      %a.dropdown-toggle{data: {"internal": "true"}, href: "#", role: "button", aria: { haspopup: "true", expanded: "false"}, data: { toggle: "dropdown"}}
        =user.username
        %span.caret
      %ul.dropdown-menu
        %li
          %a{data: {"internal": "true"}, href: "#{url_for("/profile")}"}
            Profile
        %li
          %a{data: {"internal": "true"}, href: "#{url_for("/logout")}"}
            Logout
    -else
      %a{data: {"internal": "true"}, href:"#{url_for("/login")}"}
        Login
