//=haml :"partials/visualizer"
.twocol
  .col
    %img.image-responsive.fit-image{src: url_for("/images/albums/#{album.image}")}
  .album-info
    Album Info
    .title
      =album.title
    .artist
      =album.artist.name
    %input{type: "button", value: "Play Album", onclick: "enqueueAlbum([#{album.playlist(current_user)}])"}
.tracks
  -album.tracks.sort_by{ |t| t.track_number.to_i }.each do |track|
    .track
      %a{onClick: "enqueueTrack(#{track.to_json})"}
        =track.title
.summary#album_summary
.summary#track_summary

:javascript
  
