.row
  .col-xs-7.albums
    =haml :"partials/artist", locals: { artist: artist, admin: true}
    -artist.albums.each do |album|
      =haml :"partials/album", locals: { album: album}
  .col-xs-5
    #summary
:javascript
  keypress_enable=false;
  summary_loaded=false;
  images_loaded=false;

  function summary_done(data) {
    $('#summary').append("<div class='summary'><p class='text'>" + data.summary + "</p>");
    $('#summary').append("<div class='links'><a target='_' href='" + data.url + "'>wikipedia</a></div></div>");
    summary_loaded = true;
    masonrize();
  }

  $(document).attr("title", "#{artist.name}");
  $('.navbar-info').html("<span class='artist-title'>#{artist.name}</span>");
  var container = document.querySelector('.albums');
  var msnry = new Masonry( container, {
    // options
    columnWidth: 200,
    itemSelector: '.item'
  });
  imagesLoaded(container, function() {
    images_loaded = true;
    masonrize();
  });

  $(document).ready(function() {
    get_summary("#{url_for("/artist/#{artist.id}/summary")}", summary_done);
    summary_loaded = true;
    masonrize();
  });

  function masonrize() {
    if(images_loaded && summary_loaded) {
      msnry.layout();
    }
  }

