.row
  .col-sm-offset-4.col-sm-4.artist
    %h2
      =artist.name
.row.top-buffer
  .col-sm-offset-4.col-sm-1.artist
    =haml :"partials/artist", locals: { artist: artist, admin: true}
.row.top-buffer
  .col-sm-offset-2.col-sm-7
    .summary.mb-5#summary
.row.top-buffer
  .col-sm-12.albums
    -artist.albums.each do |album|
      =haml :"partials/album", locals: { album: album}
:javascript
  keypress_enable=false;
  summary_loaded=false;
  images_loaded=false;

  function summary_done(data) {
    $('#summary').append("<p class='text'>" + data.summary + "</p>");
    $('#summary').append("<p class='links'><a target='_' href='" + data.url + "'>wikipedia</a></p>");
    summary_loaded = true;
    masonrize();
  }

  $(document).attr("title", "#{artist.name}");
  $('.navbar-info').html("<span class='artist-title'>#{artist.name}</span>");
  var container = document.querySelector('.albums');
  var msnry = new Masonry( container, {
    // options
    columnWidth: 200,
    itemSelector: '.item'
  });
  imagesLoaded(container, function() {
    images_loaded = true;
    masonrize();
  });

  $(document).ready(function() {
    get_summary("#{url_for("/artist/#{artist.id}/summary")}", summary_done, summary_loaded, "#summary");
    summary_loaded = true;
    masonrize();
  });

  function masonrize() {
    if(images_loaded && summary_loaded) {
      msnry.layout();
    }
  }

