!=haml :"partials/artist", locals: { artist: artist, admin: true, use_small: false }
.artist
  .summary#summary
    =summary['summary']
    %a{target: "_", href:"#{summary['url']}"}
      \...more at wikipedia
-albums.each do |album|
  !=haml :"partials/album", locals: { album: album}
