.twocol
  .col
    !=haml :"partials/artist", locals: { artist: artist, admin: true, use_small: false }
  .artist
    .summary#summary
      =summary['summary']
      -if summary['url']
        %a{target: "_", href:"#{summary['url']}"}
          \...more at wikipedia
-artist.albums.each do |album|
  !=haml :"partials/album", locals: { album: album}
