-artists.to_a.select{|artist| artist.albums.size > 0}.each do |artist|
  =haml :"partials/artist", locals: {artist: artist, admin: false}
:javascript
  var container = document.querySelector('#content')
  var msnry = new Masonry( container, {
    // options
    columnWidth: 200,
    itemSelector: '.item'
  });
  imagesLoaded(container, function() {
    msnry.layout();
  });
