Sign in with your email and we'll mail you a link. (no passwords!)
%form.emailform
  .input-group.input-group-lg
    %span.input-group-addon
      Email
    %input.form-control{type:"email", name:"email"}
  .input-group.input-group-lg
    %input.btn.btn-primary.form-control{type:"submit", value: "Login with email", onclick: "login()"}

:javascript 
  keypress_enable = false;

  function login() {
    var form=$(".emailform");
    var url = "#{url_for('/user/login')}";
    return post(form, url);
  }
