!=haml :"partials/player", locals: { admin_url: nil }
:javascript
  document.getElementById("content").style.background="url('#{url_for "/images/albums/" + (playlist.image_path || "")}')";
  document.getElementById("content").style.backgroundPosition="0px 0px";
  document.getElementById("content").style.backgroundSize="contain";
  document.getElementById("content").style.backgroundRepeat="no-repeat";
  //document.getElementById("content").style.minHeight="900px";


