=haml :"partials/player", locals: { admin_url: nil }
:javascript
  document.getElementById("content").style.background="url('#{url_for "/images/albums/" + (playlist.image_path || "")}')";
  document.getElementById("content").style.backgroundPosition="0px 0px";
  document.getElementById("content").style.backgroundSize="contain";
  document.getElementById("content").style.backgroundRepeat="no-repeat";
  //document.getElementById("content").style.minHeight="900px";

  var myPlaylist

  function append(playlist, json) {
    track = JSON.parse(json)[0];
    playlist.add(track, false);
  }

  $(document).ready(function() {
    document.title = "#{playlist.name}";
    myPlaylist = new jPlayerPlaylist(
    {
      jPlayer: "#jquery_jplayer_1",
      cssSelectorAncestor: "#jp_container_1"
    }, 
    [
      #{ playlist.track_list}
    ], 
    {
      swfPath: "http://patf.net/js",
      supplied: "mp3",
      wmode: "window",
      playlistOptions: {
        enableRemoveControls: true
      }
    });  
  });

  $("#jquery_jplayer_1").bind($.jPlayer.event.play, function (event) {
      var current = myPlaylist.current,
          playlist = myPlaylist.playlist;
      $.each(playlist, function (index, obj) {
          if (index == current) {
            $.ajax({type: "GET", url: obj.mp3.replace("stream","log")});
            $('.navbar-info').html("                                   \
              <span class='track-title'>" + obj.title + "</span>");
            $(document).prop("title", obj.title);
          }
      });
  });

  $("#jquery_jplayer_1").bind($.jPlayer.event.loadstart, function (event) {
    var current = myPlaylist.current,
      playlist = myPlaylist.playlist;
    if(current == playlist.length - 1) {
      $.ajax({
        type: "GET", 
        url: "#{url_for("/track/random")}",
        success: function(result) {append(myPlaylist, result);}
      });
    }
  });
