%h3
  Artists
-artists.to_a.select{|artist| artist.albums.size > 0}.each do |artist|
  =haml :"partials/artist", locals: {artist: artist, admin: false}
%h3
  Albums
-albums.to_a.select{|album| album.tracks.size > 0}.each do |album|
  =haml :"partials/album", locals: {album: album}
:javascript
  var $container = $('#container');
  // init
  $(document).ready( function() {
    $container.isotope({
        // options
          itemSelector: '.item',
            layoutMode: 'fitRows'
    });
  });
