%h3
  Artists (#{artists.count})
.flex
  -artists.each do |artist|
    !=haml :"partials/artist", locals: {artist: artist, admin: false, use_small: true}
%h3
  Albums (#{albums.count})
.flex
  -albums.each do |album|
    !=haml :"partials/album", locals: {album: album}
%h3
  Playlists (#{playlists.count})
.flex
  -playlists.each do |playlist|
    !=haml :"partials/playlist", locals: {playlist: playlist, admin: false}
%h3
  "Tracks (#{tracks.count})
.grid
  -if tracks.count > 0
    -tracks.each do |track|
      !=haml :"partials/track", locals: {track: track, show_track_number: false, show_album: true, show_artist: true}
    -if count > tracks.count
      more...
