%h3
  Artists
.flex
  -artists.each do |artist|
    !=haml :"partials/artist", locals: {artist: artist, admin: false, use_small: true}
%h3
  Albums
.flex
  -albums.each do |album|
    !=haml :"partials/album", locals: {album: album}
%h3
  Playlists
.flex
  -playlists.each do |playlist|
    !=haml :"partials/playlist", locals: {playlist: playlist, admin: false}
