.row
  .col-xs-12.col-sm-6
    %table.table.table-condensed
      %thead
        %tr
          %th
            type
          %th
            Count
      %tbody
        %tr
          %td
            Artists
          %td
            =Artist.count
        %tr
          %td
            Albums
          %td
            =Album.count
        %tr
          %td
            Tracks
          %td
            =Track.count

