.row
  .col-xs-12.col-sm-6
    %table.table.table-condensed
      %thead
        %tr
          %th
            type
          %th
            Count
      %tbody
        %tr
          %td
            Artists
          %td#artists_count
        %tr
          %td
            Albums
          %td#albums_count
        %tr
          %td
            Tracks
          %td#tracks_count
:javascript
  function set_albums(data) {
    $("#albums_count")[0].innerHTML= data.stats.albums.count;
  }

  function set_tracks(data) {
    $("#tracks_count")[0].innerHTML= data.stats.tracks.count;
  }

  function set_artists(data) {
    $("#artists_count")[0].innerHTML= data.stats.artists.count;
  }

  $(document).ready(function() {
    get("/stats/albums", set_albums, null);
    get("/stats/artists", set_artists, null);
    get("/stats/tracks", set_tracks, null);
  });
