.row
  .col-xs-12.col-sm-6
    %table.table.table-condensed
      %thead
        %tr
          %th
            type
          %th
            Count
      %tbody
        %tr
          %td
            Artists
          %td#artists_count
        %tr
          %td
            Albums
          %td#albums_count
        %tr#tracks
          %td.name
          %td.count
.row
  .col-xs-12#logs
    %h2
      Last 6 months
    #logs
      plays
      %span.count

:javascript
  function set_albums(data) {
    $("#albums_count")[0].innerHTML= data.stats.albums.count;
  }

  function set_tracks(data) {
    var props = data.props;
    $("#tracks").find($(".name")).text(data.type);
    $("#tracks").find($(".count")).text(props.count);
  }

  function set_logs(data) {
    var props = data.props;
    $("#logs").find($(".count")).text(props.count);
  }

  function set_artists(data) {
    $("#artists_count")[0].innerHTML= data.stats.artists.count;
  }

  $(document).ready(function() {
    get("#{url_for('/stats/albums')}", set_albums, null);
    get("#{url_for('/stats/artists')}", set_artists, null);
    get("#{url_for('/stats/tracks')}", set_tracks, null);
    get("#{url_for('/stats/logs')}", set_logs, null);
  });
