%form{action:"#{url_for("/upload")}", enctype:"multipart/form-data", method:"post"}
  .input-group
    %span.input-group-addon
      files
    %input.form-control{type:"file",name:"images[]",multiple:"true"}
  .input-group
    %span.input-group-addon
      Artist
    %input#artist.form-control{type:"text", name: "artist_name"}
  .input-group
    %span.input-group-addon
      Album
    %input#album.form-control{type:"text", name: "album_name"}
  .input-group
    %input.btn.btn-default.btn-lg{type:"submit", value:"upload"}

-unless params["info"].nil?
  .text
    =params["info"]
:javascript
  $('#album').autocomplete({
    serviceUrl: '#{url_for "/searchalbums"}',
    paramName: 'q',
    minChars: 1,
    lookupLimit: 50,
    autoSelectFirst: true,
  });
  $('#artist').autocomplete({
    serviceUrl: '#{url_for "/searchartists"}',
    paramName: 'q',
    minChars: 1,
    lookupLimit: 50,
    autoSelectFirst: true,
  });
