%form{action:"#{url_for("/upload")}", enctype:"multipart/form-data", method:"post"}
  .input-group
    %span.input-group-addon
      files
    %input.form-control{type:"file",name:"images[]",multiple:"true"}
  .input-group
    %span.input-group-addon
      Artist
    %input#artist.form-control{type:"text", name: "artist_name"}
  .input-group
    %span.input-group-addon
      Album
    %input#album.form-control{type:"text", name: "album_name"}
  .input-group
    %span.input-group-addon
      Genre
    %input#album.form-control{type:"text", name: "genre"}
  .input-group
    %span.input-group-addon
      Track Pad
    %input#album.form-control{type:"text", name: "track_pad"}
  .input-group
    %span.input-group-addon
      Album Image
    %input#album.form-control{type:"text", name: "album_image"}
  .input-group
    %span.input-group-addon
      Artist Image
    %input#album.form-control{type:"text", name: "artist_image"}
  .input-group
    %input.btn.btn-default.btn-lg{type:"submit", value:"upload"}

-unless params["info"].nil?
  .text
    =params["info"]
